main {
    background-color: #EEEEEE;
    padding: 20px;
    height: auto;
}

main h1 {
    text-align: center;
}

/* ---- Maquetado del formulario ---- */
.alta-form {
    background-color: #F0320A;
    width: 70%;
    margin: 20px auto;
    padding: 30px;
    border-radius: 20px;
    border: 1px solid #212121;
    box-shadow: 0px 5px 5px #212121;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#campos {
    width: 90%;
    border: 1px solid blue;
}

#boton {
    width: 9%;
}
.row-group  {
    display:flex;
    flex-direction: row;
}

.input-group {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
}
/*
main label {
    color: #212121;
    text-transform: capitalize;
    align-content: center;
    margin-right:10px
}

main label[for="envio"] {
    display: inline-block;
    margin: 10px 0;
}

main button {
    display: block;
    margin: 15px auto;

    height: 40px;
    width: 10%;

    background-color: #6ab04c;
    color: #130f40;
    font-size: 20px;
    border-radius: 20px;
}

main input {
    width: 40%;
    height: 30px;
    font-size: 20px;
    border-radius: 5px;
    background-color: #dfdede;
}

main input:focus {
    outline: none;
    border: 2px solid #212121;
    background-color: white;
}

main input[type="checkbox"] {
    width: 20px;
    height: 20px;
} */

/* ----- Maquetado de la tabla ----- */
th, td {
    border: 1px solid black;
    width: 100px;
    height: 40px;
    padding: 10px;
}

table {
    border-collapse: collapse;
    margin: 5px auto;
}

th {
    text-transform: uppercase;
    background-color: #111;
    color: white;
    font-size: 20px;
}

td {
    font-size: 18px;
}

.centrar {
    text-align: center;
}

main h2 {
    /* border: 1px solid blue; */
    text-align: center;
}

.responsive {
    width: 100%;
    overflow: auto;
}