@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    /* box-sizing: content-box; */
    box-sizing: border-box;
}

body, ul, h1, h3, p {
    margin: 0;
}

body {
    font-family: "Open Sans", sans-serif;
}

header {
    width: 100%;
    height: auto;
}

header nav {
    background-color: #212121;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

header nav ul {
    width: 80%;
    height: auto;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

header nav ul li {
    width: auto;
    height: auto;
}

header nav ul li a {
    text-decoration: none;
    /* border: 1px solid white; */

    width: 100px;
    height: 40px;
    display: flex;

    background-color: #F0320A;
    color: white;
    border-radius: 50px;

    justify-content: center;
    align-items: center;
    /* line-height: 54px; */

    margin: auto;
}

/* ------------------------------------------- */
header > div {
    background-color: #555;
    width: 100%;
    /* height: 180px;

    border: 1px solid yellow; */
    display: flex;
    justify-content: start;
    align-items: start;
}

#logo {
    height: 85px;
    width: 10%;
    background: url(../img/logo.png);
    background-color: #212121;
    text-align: center;
    background-size: cover;
    line-height: 54px;
    font-size: 22px;
}

#barra-busqueda {
    height: 85px;
    width: 85%;
    background-color: #212121;
    text-align: center;
    line-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#barra-busqueda form {
    width: 85%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#barra-busqueda form input {
    background-color: white;
    border: 2px solid #757575;
    width: 50%;
    height: 30px;
    color: #757586;
    margin: 2px;
    padding-left: 10px;
    border-radius: 10px;
}

#barra-busqueda form input[type="submit"] {
    background-color: white;
    font-family: "Nunito", sans-serif;
    font-weight: bold;
    width: 80px;
    height: 28px;
}

#boton-carrito {
    height: 85px;
    width: 5%;
    background: #F0320A;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

main {
    height: 550px;
}

footer {
    background-color: blueviolet;
    color: white;
    height: 100px;
    text-align: center;
    line-height: 100px;
    font-size: 22px;
}